/* common css */
:root {
    --main-100: #FEFFFF;
    --main-200: #DEF2F1;
    --main-400: #3AAFA9;
    --main-600: #2B7A78;
    --main-900: #17252A;
    --white: #fff;
    --black: #000;
    --dark: #08090a;
    --gray:#222;
    --gray-49:rgb(26, 26, 36);
    --gray-50:  rgb(46, 46, 56);
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-300: #DEE2E6;
    --gray-400: #CED4DA;
    --gray-500: #ADB5BD;
    --gray-600: #6C757D;
    --gray-700: #495057;
    --gray-800: #343A40;
    --gray-900: #212529;
    --gray-tr-900: #21252960;
    --blue: #0085ff;
    --green:#55c57a;
    --orange:#ff7730;
    --yellow: #ffbd00;
    --red: rgb(255, 25, 17);
    --middel-purple:#d982b5;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: white;
}
.top{
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1007&q=80);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.top__center{
    position: absolute;
    top: 40%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -60%);
}
.top__primary{
    color: white;
    font-size: 52px;
    font-family: 'Ubuntu', sans-serif;
}
.faq{
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: white;
    /* rgba(240,238,255,0.2) !important */
}
.con{
    margin-top: 5%;
    margin-bottom: 5%;
}
.image_con{
    margin-left: 10%;
}
.contact__image{
    display: block;
    width: 90%;
    height: auto;
    margin-top: 10%;
}
.con{
    display: flex;
    flex-direction: row;
    
}
label{
    display: block;
    padding: 10px 0 10px 0;
    font-size: 22px;
}
textarea{
    display: block;
    resize: vertical;
    font-size: 22px;
    padding: 10px 20px;
    background-color: rgb(68, 63, 63);
    color: white;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
}
textarea:focus{
    outline: none;
    
    border: 2px solid silver;
    width: auto;
}
textarea:focus:invalid{
    border:2px solid #fc2a35 !important; 
}
.form__groups{
    margin: 5% 0 5% 0;

}

input{
    font-size: 22px;
    padding: 10px 20px;
    background-color: rgb(68, 63, 63);
    color: white;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    width: auto;
}
input:focus{
    outline: none;
    
    border: 2px solid silver;
    
}
input:focus:invalid {
    border:2px solid #fc2a35 !important; 
}
.form_con{
    margin-right: 10%;
}
/* media query */

